
.widget-area {
	min-width: 300px;

	ul {
		margin-left: 0;

		li {
			list-style: none;

			a {
				display: block;
				@extend %serif;
				font-size: 1.428em;
				color: $text-dark;
			}

			span {
				font-size: 0.857em;
			}
		}
	}

	.widget-title {
		@extend .heading-bar;
	}
}
