body {
	color: $color__text-main;
	@extend %sans-serif;
	line-height: $font__line-height-body;
	font-size: 14px;
}

@import "headings";

@import "copy";

a {
	transition: 0.15s ease-in-out;
}

.styled-link {
	@extend %serif;
	font-size: 1.142em;
	color: $text-dark;
}
