.ddd-hero-banner {
  height: 500px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: $white;

}
