header.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  padding: 1em 0;
}

.navbar-logo img {
  max-width: 100px;
}

.navbar-nav.column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  }
  li {
    flex: 0 0 auto;
    padding-left: 1em;
    margin-bottom: 0;
    list-style: none;

    a {
      position: relative;
      color: $text-dark;
      padding-bottom: 0.25em;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 0;
        background-color: $text-dark;
        transition: 0.15s ease-in-out;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }
}
